APP_NAME="SmartDesk-AI"
VERSION="0.1"
OPEN_API_KEYS=""
MONGODB_URL="mongodb://localhost:27017"
MONGODB="mini-rag"


# ==========LLM Config ================

GENERATION_BACKEND="OPENAI"
EMBEDDING_BACKEND="COHERE"

# ========== OPENAI Config ============
OPEN_API_KEYS=""
OPEN_API_URL=""

# ========== COHERE Config ============
COHERE_API_KEY=""

GENERATION_MODEL_ID=""
EMBEDDING_MODEL_ID=""
EMBEDDING_MODEL_SIZE=""

INPUT_DEFAULT_MAX_CHARACTERS=1024
GENERATION_DEFAULT_MAX_TOKENS=200
GENERATION_DEFAULT_TEMPERATURE=0.1
 

